* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    place-items: center;
    overflow: hidden;
    transition: 0.1s;
    margin-right: -15%;
    opacity: 0;
    background: url(./images/返回.png);
}

::-webkit-scrollbar {
    /* 滚动条消失 */
    display: none;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    position: absolute;
    background-color: #f5f5f5;
}


.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    line-height: 1;
    /*控制行间距*/
    position: sticky;
    /*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;
    /*设置图层优先级*/
    background-color: #7f9bff;
}

.box1-1,
.box1-2,
.box1-3 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.box1-2 {
    flex: 3;
    font-size: 24px;
    color: #fff;
}


.box2 {
    width: 90%;
    margin: 5% 5%;
    padding-bottom: 5%;
    background-color: rgba(211, 230, 252,0.8);
    /*磨砂质感*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 10px 30px #00000020; */
}

.box2-1 {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#message {
    width: 90%;
    height: 200px;
    border: none;
    outline: skyblue;
    border-radius: 10px;
    font: 500 20px '';
    padding: 5% 5%;
    resize: none;
}

#message:focus {
    outline: 2px solid skyblue;
}

.box2-2 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit {
    width: 90%;
    height: 48px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(129.12deg, #446dff, rgba(99, 125, 255, .75));
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    /* 初始时按钮是半透明的 */
    transition: opacity 0.3s;
    /* 设置透明度的过渡效果 */
}

/*这里要加一个js事件检测到本文框内容格式正确后改变按钮的透明度*/
/*button.style.opacity = '1';*/
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    /* display: none; */
    visibility: hidden;
}

.success {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* transition: transform 0.5s; */
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.9);
    /* color: #fff; */
    /* display: none; */
    visibility: hidden;
}

.success.show {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.overlay.show {
    visibility: visible;
}