* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
    transition: 0.1s;
    margin-right: -15%;
    opacity: 0;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    /*超出内容会自动生成滚动条*/
    background-color: #f5f5f5;
    position: relative;
}



.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    line-height: 1;
    /*控制行间距*/
    position: sticky;
    /*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;
    /*设置图层优先级*/
    background-color: #7f9bff;
}

.box1-1 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.box1-2 {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    font-size: 24px;
    color: #fff;
}

.box1-3 {
    flex: 1;
}



.box2 {
    margin: 5%;
    width: 90%;
    height: 180px;
    padding-left: 3%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.box2-1,
.box2-2,
.box2-3 {
    flex: 2;
    display: flex;
    align-items: center;
}

.box2-2,
.box2-3 {
    padding-right: 20%;
    justify-content: space-between;
    position: relative;
}
.box2-3{
    padding-right: 10%;
}
.payeeCancel,
.phoneNumCancel{
    position: absolute;
    right: 5%;
}
.box2-4 {
    flex: 1;
    font: 300 12px '';
    display: flex;
    align-items: center;
}
.box2-4 a {
    text-decoration: none;
    color: #6A88F7;
    transition: font-size 0.25s ease;
}
.box2-4 a:hover {
    font-size: 14px;
}


.payee,
.phoneNum,
.actNum {
    width: 60%;
    height: 70%;
    border: none;
    outline: 0px;
    font-size: 18px;
    transition: 0.25s ease;
}

.phoneNum{
    width: 65%;
}

.payee:focus,
.phoneNum:focus,
.actNum:focus {
    box-shadow: 0 2px 0 0 skyblue;
}

input::placeholder {
    color: rgba(75, 75, 75, 0.4);
    font-size: 16px;
}


.box3 {
    margin: 5%;
    width: 90%;
    height: 180px;
    padding-left: 3%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.box3-1,
.box3-2,
.box3-3 {
    flex: 1;
    display: flex;
    align-items: center;
}

.box3-2 {
    padding-right: 30%;
    justify-content: space-between;
    position: relative;
}

.actNum {
    width: 70%;
    font-size: 30px;
}
.actNum::placeholder{
    font-size: 20px;
}
.actNumCancel{
    position: absolute;
    right: 20%;
}

.box3-3 {
    justify-content: space-between;
    margin-right: 10%;
    font-size: 18px;
}

select {
    width: 60%;
    height: 60%;
    /* border: none; */
    border-radius: 10px;
    border-style: dotted;
    padding-left: 5%;
    outline: none;
    font-size: 16px;
}

.box4 {
    margin: 5% 5%;
}

.tranfer {
    width: 100%;
    height: 48px;
    margin-top: 5%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(129.12deg, #446dff, rgba(99, 125, 255, .75));
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    /* 初始时按钮是半透明的 */
    transition: opacity 0.3s;
    /* 设置透明度的过渡效果 */
}

/*这里要加一个js事件检测到本文框内容格式正确后改变按钮的透明度*/
/*button.style.opacity = '1';*/


.box5{
    margin: 0 5%;
}
.box5 h6{
    font: 500 14px '';
    line-height: 2;
}
.box5 p{
    font: 300 12px '';
    line-height: 1.8;
}


/*灯箱效果*/
.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    visibility: hidden;
}

/*确认转账信息*/
.tranferInformation{
    padding: 2% 5%;
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 10;
    visibility: hidden;
}
.tranferInformation>h2{
    text-align: center;
}
.information1,
.information2,
.information3,
.information4{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information1 p,
.information2 p,
.information3 p,
.information4 p{
    text-align: right;
    font: 500 18px '';
    color: #6A88F7;
}
.information3 p{
    font: 900 24px '';
    color: tomato;
}
.information5{
    flex: 1;
    display: flex;
    align-items: center;
}
.yesBtn,
.noBtn{
    width: 50%;
    height: 80%;
    color: #fff;
    border: none;
    font: 600 18px '';
    text-align: center;
    cursor: pointer;
}
.yesBtn{
    background-color: rgba(63, 182, 13,0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.noBtn{
    background-color: rgba(226, 127, 110,0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*输入支付密码*/
.payPassword{
    padding: 2% 5%;
    width: 70%;
    height: 25%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    transition: transform 0.5s;
    visibility: hidden;
}


.payPassword1{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payPassword2{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password{
    width: 100%;
    height: 70%;
    border: none;
    outline:0px;
    font: 500 24px '';
    text-align: center;
    letter-spacing: 20px;
    transition: 0.25s ease;
}
.password:focus{
    box-shadow: 0 2px 0 0 skyblue;
}
.payPassword p{
    font: 500 12px '';
    color: red;
    visibility: hidden;
}
.payPassword3{
    margin-top: 10px;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payBtn{
    width: 60%;
    height: 90%;
    background-color: rgba(63, 182, 13,0.8);
    color: #fff;
    border: none;
    border-radius: 10px;
    font: 600 16px '';
    text-align: center;
    cursor: pointer;
    background: linear-gradient(129.12deg, #446dff, rgba(99, 125, 255, .75));
    opacity: 0.5;
    /* 初始时按钮是半透明的 */
    transition: opacity 0.3s;
    /* 设置透明度的过渡效果 */
}


/*转账成功动画*/
.success{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: transform 0.5s;
    visibility: hidden;
}
.success.show{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}
.overlay.show{
    visibility: visible;
}