* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
    transition: 0.1s;
}

::-webkit-scrollbar {
    /* 滚动条消失 */
    display: none;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    /*超出内容会自动生成滚动条*/
    background-color: aquamarine;
}

.box1 {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    line-height: 1;
    /*控制行间距*/
    position: sticky;
    /*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;
    /*设置图层优先级*/
    background-color: #EEF6FF;
    font-size: 14px;
}

.box1-1 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    flex-direction: column;
}

.box1-2 {
    flex: 3;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    /*元素换行*/
    align-items: center;
    /* 垂直居中 */
    font-size: 24px;
    background-color: #fff;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4);
    /*在元素周围添加一个模糊度为10像素的阴影，阴影的颜色为半透明的黑色（透明度为0.4）*/
    border-radius: 60px;
    /*圆角*/
    position: relative;
}

.icon {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.textInput {
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textInput input {
    width: 90%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

#dropdown {
    /* display: none; */
    width: 100%;
    z-index: 10;
}

#dropdown div {
    background-color: #f8f8f8;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-bottom: solid #0000001f 1.5px;
}

#dropdown :first-child {
    margin-top: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#dropdown :last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#dropdown div:hover {
    background-color: #e0e0e0;
}

.clear {
    position: absolute;
    right: 22%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-3 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    flex-direction: column;
}


.box2 {
    width: 94%;
    height: 120px;
    margin: 3%;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
}

.box2-1 {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    /* 垂直居中 */
}

.box2-2 {
    flex: 3;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
}

.box2-2 p {
    font-size: 14px;
}



.box3 {
    width: 100%;
    height: 140px;
    margin-top: 10%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.box3-1 {
    flex: 2;
    display: flex;
}

.box3-1-1 {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.eyeClose {
    display: block;
}

.eyeOpen {
    display: none;
}

.box3-1-2 {
    flex: 3;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3-2 {
    flex: 5;
    width: 94%;
    margin: 0 3%;
    padding-left: 5%;
    border-radius: 20px;
    background-color: yellow;
    line-height: 2.7;
}

.box3-2 :nth-child(3) {
    display: inline-block;
    /* 设置为行内块级元素 */
    vertical-align: top;
    /* 垂直对齐方式为顶部对齐 */
}



.box4 {
    width: 100%;
    height: 140px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.box4-1 {
    flex: 2;
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: center;
}

.box4-2 {
    flex: 5;
    width: 94%;
    margin: 0 3%;
    padding: 0 5%;
    border-radius: 20px;
    background-color: yellow;
    line-height: 2.7;
    display: flex;
    flex-direction: column;
}

.box4-2-1 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* 使两个p标签在水平方向上分散对齐 */
}

.box4-2-2 {
    flex: 1;
    display: flex;
}

.box4-2-2-1 {
    flex: 1;
    display: flex;

}

.box4-2-2-2 {
    flex: 1;
    display: flex;
    justify-content: right;
}

.box6 {
    width: 100%;
    height: 50px;
    background-color: #005ebd;
    margin-top: 300px;
    position: sticky;
    bottom: 0px;
    z-index: 10;
    /*设置图层优先级*/
}

/* 规定全局颜色  可以使用var调用 */
:root {
    --bg-nav: #e5edf5;
    /*背景颜色*/
    --color-nav: #644c89;
    --color-nav-active: #000000;
}


#filter-svg {
    /* 设置元素不可见 */
    display: none;
}

.nav {
    /* 相对定位 */
    position: relative;
    /* 设置列表格式为none 也就是没有格式 */
    list-style-type: none;
    /* 弹性布局  使垂直的ul变成横向的 */
    display: flex;
    background-color: var(--bg-nav);
    height: 50px;

    /* 定义滤镜 */
    filter: url("#goo");
}

.nav li a {
    /* 去除下划线 */
    text-decoration: none;
    color: var(--color-nav);
    width: 175px;
    height: 100%;
    /* 转为行内元素 */
    display: inline-grid;
    /* 垂直居中 */
    place-items: center;
    font-size: 30px;
    z-index: 1;
    /* 相对定位 */
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;

}

.nav li a .title {
    /* 设置元素不可见  */
    display: none;
}

.nav li a:hover {
    color: var(--bg-body);
}

/* 使用js的 */
.nav li a.nav-item-active {
    color: var(--color-nav-active);
    /* 上下移动 */
    transform: translateY(-20%);
    font-size: 45px;
    /* 放慢速度  使用贝塞尔曲线 */
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
    display: block;
    font-size: 16px;
}

.nav .nav-indicator {
    width: 75px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    /* 绝对定位 */
    position: absolute;
    top: -22px;
    left: calc(300px -45px);
    /*初始位置*/
    z-index: 1;
    /* 贝塞尔曲线 */
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom {
    0% {
        width: 0;
        height: 0;
        opacity: 0.2;
    }

    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}