* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    /*超出内容会自动生成滚动条*/
    background-color: aquamarine;
}

.box1{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;/* 垂直居中 */
    overflow: hidden;
    line-height: 1;/*控制行间距*/
    position:sticky;/*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;/*设置图层优先级*/
    background-color:#EEF6FF;
}
.box1-1{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.box1-2{
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    font-size: 24px;
}
.box1-3{
    flex: 1;
}

.box2 {
    width: 94%;
    height: 120px;
    margin: 3%;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

.box2-1 {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.box2-2 {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 2;
    height: 30%;
    margin: auto 0;
}

.box2-2-1,
.box2-2-2 {
    flex: 1;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2-2 p {
    font-size: 14px;
}

.box3 {
    width: 94%;
    height: 240px;
    margin: 3%;
    background-color: #fff;
    border-radius: 5px;
}

.box3-1 {
    height: 20px;
    font-size: 30px;
}

.box3-2 {
    height: 60px;
    margin-top: 40px;
}

.box3-2-1,
.box3-2-2 {
    font-size: 20px;
    justify-content: center;
    display: flex;
    height: 40px;
}

.box3-2-3 {
    font-size: 20px;
    color: red;
    justify-content: center;
    display: flex;
    height: 40px;
}