* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: 0.1s;
    margin-right: -15%;
    opacity: 0;
}


.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    /*超出内容会自动生成滚动条*/
    background-color: #f5f5f5;
}

.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    line-height: 1;
    /*控制行间距*/
    position: sticky;
    /*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;
    /*设置图层优先级*/
    background-color: #7f9bff;
}

.box1-1 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.box1-2 {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    font-size: 24px;
    color: #fff;
}

.box1-3 {
    flex: 1;
}

.box2 {
    width: 94%;
    height: 120px;
    margin: 3%;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
}

.box2-1 {
    flex: 1;
    width: 97%;
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.box2-2 {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 2;
    height: 30%;
    margin: auto 0;
}

.box2-2-1,
.box2-2-2 {
    flex: 1;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2-2 p {
    font-size: 14px;
}

.box3 {
    width: 94%;
    height: 200px;
    margin: 3%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.box3-1 {
    flex: 1;
    width: 97%;
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.box3-2 {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.box3-2-1,
.box3-2-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box3-2-3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.box3-2-1 :first-child,
.box3-2-2 :first-child,
.box3-2-3 :first-child {
    text-align: center;
    width: 95%;
}

.box3-2-1 :last-child,
.box3-2-2 :last-child,
.box3-2-3 :last-child {
    width: 5%;
    font-size: 18px;
}

.box3-2-2 {
    border-top: solid 1px #AFAFAF;
    border-bottom: solid 1px #AFAFAF;
}

.box3-2-3 {
    color: red;
}