* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
    transition: 0.1s;
    margin-right: -15%;
    opacity: 0;
}

::-webkit-scrollbar {
    /* 滚动条消失 */
    display: none;
}

.box {
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    /*超出内容会自动生成滚动条*/
    background-color: #f5f5f5;
    position: relative;
}


.box1 {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    line-height: 1;
    /*控制行间距*/
    position: sticky;
    /*粘性定位做导航栏*/
    top: 0px;
    z-index: 10;
    /*设置图层优先级*/
    background-color: #7f9bff;
}

.box1-1 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.box1-2 {
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    font-size: 24px;
    color: #fff;
}

.box1-3 {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.box2 {
    width: 94%;
    margin: 0 3%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    border: 1px #000;
}

.table td {
    text-align: center;
    vertical-align: middle;
}


.box3 {
    width: 94%;
    height: 70%;
    padding-top: 3%;
    margin: 0 3%;
    background-color: #fff;
    border-radius: 18px 18px 0 0;
    box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    display: none;
}

.box3-1 {
    width: 94%;
    flex: 1;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
}

.box3-1 input {
    /* border: none; */
    outline: none;
    width: 30px;
}

#datePicker,
#datePicker1 {
    display: block;
}

#date,
#date1 {
    width: 17px;
    border: none;
}

#year,
#year1 {
    width: 40px;
    font-size: 16px;
    text-align: center;
    margin-right: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #6A88F7;
    outline: none;
}

#month,
#month1 {
    width: 22px;
    font-size: 16px;
    text-align: center;
    margin-right: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #6A88F7;
    outline: none;
}

#day,
#day1 {
    width: 22px;
    font-size: 16px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #6A88F7;
    outline: none;
}

.box3-1-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.box3-1-2 {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-1-2-1,
.box3-1-2-2,
.box3-1-2-3 {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.box3-2 {
    width: 94%;
    flex: 1;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
}

.box3-2-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.box3-2-2 {
    flex: 2;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 3px solid skyblue;
    border-radius: 30%;
    vertical-align: middle;
}

input[type="radio"]:checked+label:before {
    background: #6A88F7;
}




.box3-3 {
    width: 94%;
    flex: 1;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
}

.box3-3-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.box3-3-2 {
    flex: 2;
    margin: 0 5%;
    display: flex;
    align-items: center;
}

.box3-3 select {
    width: 60%;
    height: 60%;
    /* border: none; */
    border-radius: 10px;
    border-style: dotted;
    padding-left: 5%;
    outline: none;
    font-size: 16px;
}


.box3-4 {
    width: 94%;
    flex: 1;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
}

.box3-4-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.box3-4-2 {
    flex: 2;
    display: flex;
    align-items: center;
}

.box3-4-2-1,
.box3-4-2-2,
.box3-4-2-3 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-4 input {
    width: 80%;
    height: 40px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #6A88F7;
    font-size: 18px;
    text-align: center;
}

.box3-5 {
    width: 94%;
    flex: 0.8;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tranfer {
    width: 90%;
    height: 48px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(129.12deg, #446dff, rgba(99, 125, 255, .75));
    color: #fff;
    font-size: 20px;
    opacity: 0.5;
    /* 初始时按钮是半透明的 */
    transition: opacity 0.3s;
    /* 设置透明度的过渡效果 */
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideUp {
    animation: slideUp 0.5s ease-out;
}